.header__navigation
    display: flex
    align-items: center
    margin-right: 100px
    ul
        display: flex
        flex-direction: row
        list-style-type: none
        a
           text-decoration: none
           color: #fff
           font-size: 16px
           margin-right: 40px
           &:hover
               border-bottom: 1px solid #fff
    .navigation__lang-btn
        background-color: #02BDE8
        border: none
        color: #ffffff
        padding: 10px 16px
        border-radius: 18px
        &:active, &:focus
            outline: none
        &:hover
            background-color: #00a9cf
            